---
import Arrowdown from "../components/Arrowdown.astro";
import HtmlIcon from "../components/Html.astro";
import CssIcon from "../components/Css.astro";
import TailwindIcon from "../components/Tailwind.astro";
import JavascriptIcon from "../components/JavascriptIcon.astro";
import MongoDB from "../components/MongoDB.astro";
import Photoshop from "../components/Photoshop.astro";
import Illustrator from "../components/Illustrator.astro";
import React from "../components/React.astro";
import Npm from "../components/Npm.astro";
---

<div
  class="container pt-32 relative max-w-[1160px] h-screen mr-auto ml-auto max-sm:px-[18vw]"
>
  <div class="headtitles gap-24 flex">
    <div class="title w-1/2">
      <h2 class="text-white font-black text-2xl text-left max-sm:text-base">
        About me
      </h2>
      <span class="text-white font-normal max-sm:text-xs"
        >What you need to know</span
      >
    </div>
    <div class="title2 w-1/2">
      <h2
        class="text-left text-white font-black text-2xl max-sm:text-base mb-0"
      >
        Technologies
      </h2>
      <span class="text-white font-normal max-sm:text-xs"
        >My backpack has these few</span
      >
    </div>
  </div>

  <div
    class="flex gap-24 items-start justify-between flex-col md:flex-row w-full"
  >
    <div
      class="flex w-9-12 items-start pt-10 md:w-1/2 flex-col-reverse md:flex-col gap-10 max-sm:pt-2"
    >
      <div class="flex flex-col text-white text-base text-left max-sm:text-xs">
        <p class="mb-5 max-sm:mb-2">
          Experienced <span class="text-blue-600 font-bold"
            >graphic designer</span
          >
          specialized in both frontend and backend development with over two years
          of industry expertise.
        </p>
        <p class="mb-5 max-sm:mb-2">
          Passionate about the profound impact that software engineering has on
          the creation of products for clients and companies. <span
            class="text-blue-600 font-bold"
            >Committed to producing scalable, clean, and optimized</span
          > code.
        </p>
        <p class="mb-5 max-sm:mb-2">
          Having worked both in companies and as a freelancer Allowed me to
          adopt the main skills of each work style, achieving <span
            class="text-blue-600 font-bold"
          >
            effective collaboration in multidisciplinary teams</span
          >
          <br /> but also the ability to be <span
            class="text-blue-600 font-bold"
          >
            autonomous when facing challenges</span
          >
        </p>
        <p class="mb-10 max-sm:mb-0">
          If you seek a versatile professional who can bring together technical
          proficiency and inventive solutions to your fullstack development
          projects, <span class="text-blue-600 font-bold"
            >I am the ideal candidate for you!</span
          >
        </p>
        <footer class="z-30 pt-10 justify-center col-span-2 max-sm:pt-10">
          <div class="grid gap-8 items-start justify-start">
            <div class="relative group">
              <div
                class="absolute inset-0 bg-gradient-to-r from-blue-600 to-blue-300 rounded-lg blur opacity-75 group-hover:opacity-100 ease-in-out transition duration-700 group-hover:duration-200 animate-tilt"
              >
              </div>
              <button
                class="relative px-7 py-4 bg-bg-color rounded-lg leading-none flex items-center divide-x divide-gray-600"
              >
                <span class="flex items-center space-x-5">
                  <span class="pr-6 text-gray-100 font-bold">Contact me</span>
                </span>
                <span
                  class="pl-6 text-gray-100 group-hover:text-gray-100 transition duration-200"
                  ><Arrowdown /></span
                ></button
              >
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="w-1/2 leading-3 mt-10">
      <div
        class="grid grid-cols-3 gap-x-36 gap-y-20 justify-center max-sm:gap-4"
      >
        <div class="w-[75px]">
          <HtmlIcon />
        </div>
        <div class="w-[75px]">
          <CssIcon />
        </div>
        <div class="w-[75px]">
          <JavascriptIcon />
        </div>
        <div class="w-[75px]">
          <React />
        </div>
        <div class="w-[75px]">
          <TailwindIcon />
        </div>
        <div class="w-[75px]">
          <Npm />
        </div>
        <div class="w-[75px]">
          <MongoDB />
        </div>
        <div class="w-[75px]">
          <Photoshop />
        </div>
        <div class="w-[75px]">
          <Illustrator />
        </div>
      </div>
    </div>
  </div>
</div>
