---
---

<div class="noise"></div>
<div
  class="contactme container pt-40 relative max-w-[1160px] h-screen mr-auto ml-auto max-sm:px-[18vw] z-40"
>
  <div class="text-center mb-10">
    <h2
      class="text-white font-black text-2xl text-center max-sm:text-base mb-5"
    >
      Send me a message!
    </h2>
    <span class="text-white text-center font-normal max-sm:text-xs"
      >Got a question or proposal, or just want to say hello? Go ahead.</span
    >
  </div>
  <form
    class="flex-col place-items-center justify-center h-5/6 pt-20 w-full mr-auto ml-auto"
  >
    <div class="flex gap-x-20 mb-5">
      <div class="pt-10 w-full">
        <div class="input-container">
          <input
            required="required"
            id="firstName"
            name="name"
            placeholder="Enter your name"
            class="input-field"
            type="text"
          />
          <label for="input-field" class="input-label">Your Name</label>
          <span class="input-highlight"></span>
          <small class="error"></small>
        </div>
      </div>
      <div class="pt-10 w-full">
        <div class="input-container">
          <input
            required="required"
            id="emailAddress"
            placeholder="Enter your email address"
            name="email"
            class="input-field"
            type="email"
          />
          <label for="input-field" class="input-label">Email Address</label>
          <span class="input-highlight"></span>
          <small class="error"></small>
        </div>
      </div>
    </div>
    <div class="pt-10 col-span-2 w-full">
      <div class="input-container">
        <textarea
          id="messagePrivate"
          placeholder="Hi, I think we need a design system for our products at Company X. How soon can you hop on to discuss this?"
          class="input-field"
          name="message"
          required="required"
          rows="3"></textarea>
        <label for="input-field" class="input-label">Your Message*</label>
        <span class="input-highlight"></span>
        <small class="error"></small>
      </div>
    </div>
    <footer class="z-30 pt-24 justify-center col-span-2 max-sm:pt-10">
      <div class="grid gap-8 items-center justify-center">
        <div class="relative group">
          <div
            class="absolute inset-0 bg-gradient-to-r from-blue-600 to-blue-300 rounded-lg blur opacity-75 group-hover:opacity-100 ease-in-out transition duration-700 group-hover:duration-200 animate-tilt"
          >
          </div>
          <div></div>
          <button
            id="submitBtn"
            class="relative px-7 py-4 bg-bg-color rounded-lg leading-none flex items-center divide-x divide-gray-600"
          >
            <span class="flex items-center space-x-5">
              <span class="pr-6 text-gray-100 font-bold">Send</span>
            </span>
            <span
              class="pl-6 text-gray-100 group-hover:text-gray-100 transition duration-200"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                ><path
                  fill="none"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2.5"
                  d="m5 12l-.604-5.437C4.223 5.007 5.825 3.864 7.24 4.535l11.944 5.658c1.525.722 1.525 2.892 0 3.614L7.24 19.465c-1.415.67-3.017-.472-2.844-2.028L5 12Zm0 0h7"
                ></path></svg
              ></span
            >
          </button>
        </div>
      </div>
    </footer>
  </form>
</div>

<style>
  .contactme::after {
    position: absolute;
    content: "";
    height: 50vw;
    width: 100vw;
    bottom: 0;
    translate: -20% 70%;
    background: url(/noise.webp) repeat,
      linear-gradient(266.93deg, #2f4cb3 0%, #ff7d54 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 60%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 60%);
    z-index: -1;
  }
  .noise {
    z-index: -20;
    position: absolute;
    inset: 0;
    background-image: url(/noise.webp);
    opacity: 0.4;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #2f4cb3;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .form__field::placeholder {
    color: #9b9b9b;
  }
  textarea:focus::placeholder {
    color: transparent;
  }

  /* Input container */
  .input-container {
    position: relative;
  }

  /* Input field */
  .input-field {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
  }

  /* Input label */
  .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  /* Input highlight */
  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
  }

  /* Input field:focus styles */
  .input-field:focus + .input-label {
    top: -20px;
    font-size: 16px;
    color: #007bff;
  }

  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
    font-weight: 700;
    border-width: 1px;
    border-image: linear-gradient(to right, #007bff, #fff);
    border-image-slice: 1;
  }
  input:focus::placeholder {
    color: transparent;
  }

  .input-field[type="text"],
  .input-field[type="email"] {
    border: 1;
    padding-left: 0;
    position: relative;
    color: #2f4cb3;
  }
  textarea {
    color: #2f4cb3;
  }
  textarea::-webkit-input-placeholder {
    padding-left: 0 !important;
  }
</style>
