<div
  class="container snap-center pt-32 relative max-w-[1160px] h-screen mr-auto ml-auto max-sm:px-[18vw]"
>
  <h2 class="text-white font-black text-2xl text-left max-sm:text-base">
    Send me a message!
  </h2>
  <span class="text-white font-normal max-sm:text-xs"
    >Got a question or proposal, or just want to say hello? Go ahead.</span
  >
</div>
