---
import Arrowdown from "./Arrowdown.astro";
---

<div
  class="container snap-center pt-32 relative max-w-[1160px] h-screen mr-auto ml-auto"
>
  <h2 class="text-white font-black text-2xl text-left">About me</h2>
  <span class="text-white font-normal">What you need to know</span>
  <div
    class="flex items-center justify-between flex-col md:flex-row gap-6 relative w-full"
  >
    <div
      class="flex items-center pt-10 md:w-1/2 w-full flex-col-reverse md:flex-col gap-10"
    >
      <div class="flex flex-col pt-5 gap-y-2 text-white text-base text-left">
        <p class="mb-5">
          Experienced <span class="text-blue-600 font-bold"
            >graphic designer</span
          >
          specialized in both frontend and backend development with over two years
          of industry expertise.
        </p>
        <p class="mb-5">
          Passionate about the profound impact that software engineering has on
          the creation of products for clients and companies. <span
            class="text-blue-600 font-bold"
            >Committed to producing scalable, clean, and optimized</span
          > code.
        </p>
        <p class="mb-5">
          Having worked both in companies and as a freelancer Allowed me to
          adopt the main skills of each work style, achieving <span
            class="text-blue-600 font-bold"
          >
            effective collaboration in multidisciplinary teams</span
          >
          <br /> but also the ability to be <span
            class="text-blue-600 font-bold"
          >
            autonomous when facing challenges</span
          >
        </p>
        <p class="mb-10">
          If you seek a versatile professional who can bring together technical
          proficiency and inventive solutions to your fullstack development
          projects, <span class="text-blue-600 font-bold"
            >I am the ideal candidate for you!</span
          >
        </p>
        <footer class="z-30 pt-10 justify-center col-span-2">
          <div class="grid gap-8 items-start justify-start">
            <div class="relative group">
              <div
                class="absolute inset-0 bg-gradient-to-r from-blue-600 to-blue-300 rounded-lg blur opacity-75 group-hover:opacity-100 ease-in-out transition duration-700 group-hover:duration-200 animate-tilt"
              >
              </div>
              <button
                class="relative px-7 py-4 bg-bg-color rounded-lg leading-none flex items-center divide-x divide-gray-600"
              >
                <span class="flex items-center space-x-5">
                  <span class="pr-6 text-gray-100 font-bold">Contact me</span>
                </span>
                <span
                  class="pl-6 text-gray-100 group-hover:text-gray-100 transition duration-200"
                  ><Arrowdown /></span
                ></button
              >
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="md:w-1/2">Languages & Tools</div>
  </div>
</div>
