<div
  class="container snap-center pt-32 relative max-w-[1160px] h-screen mr-auto ml-auto"
>
  <h2 class="text-white font-black text-2xl text-left max-sm:pl-5 max-sm:pr-5">
    Experience
  </h2>
  <span class="text-white font-normal max-sm:pl-5 max-sm:pr-5"
    >What i've accomplished over the years</span
  >
  <div class="max-sm:pl-5 max-sm:pr-5 max-sm:h-[40rem] max-sm:overflow-scroll">
    <ol class="mt-10 relative border-l border-gray-200 dark:border-gray-700">
      <li class="mb-10 ml-6">
        <span
          class="mr-5 absolute flex items-center justify-center w-6 h-6 bg-gradient-to-r from-mainColor to-blue-300 rounded-full -left-3 ring-8 ring-white dark:ring-[#17191e] dark:bg-blue-600"
        >
          <svg
            aria-hidden="true"
            class="w-3 h-3 text-blue-800 dark:text-blue-300"
            fill="#fff"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd"></path></svg
          >
        </span>
        <h3
          class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
        >
          Freelance <span
            class="bg-gradient-to-r from-mainColor to-blue-300 text-black text-sm font-black mr-2 px-2.5 py-0.5 rounded dark:bg-blue-600 dark:text-text-main ml-3"
            >Latest</span
          >
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >2021 - Now</time
        >
        <p
          class="mb-4 text-base font-normal text-white bg-gray-800 p-6 rounded-lg"
        >
          As a freelance professional, I've undertaken diverse projects for
          multiple clients, enabling me to amass expertise in frontend
          development technologies. Honed my communication skills, fostering
          fruitful client relationships and observing the transformative impact
          of developing online solutions for their businesses.
        </p>
      </li>
      <li class="mb-10 ml-6">
        <span
          class="mr-5 absolute flex items-center justify-center w-6 h-6 bg-gradient-to-r from-mainColor to-blue-300 rounded-full -left-3 ring-8 ring-white dark:ring-[#17191e] dark:bg-blue-600"
        >
          <svg
            aria-hidden="true"
            class="w-3 h-3 text-blue-800 dark:text-blue-300"
            fill="#fff"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd"></path></svg
          >
        </span>
        <h3
          class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
        >
          Samsung Mobile trainer
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >2019 - 2021</time
        >
        <p
          class="mb-4 text-base font-normal text-white bg-gray-800 p-6 rounded-lg"
        >
          Traversed the country to visit various sales locations, providing
          professional training to sellers on Samsung mobile products. Primarily
          conducted informative presentations aimed at educating and empowering
          sellers to achieve their objectives.
        </p>
      </li>
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-gradient-to-r from-mainColor to-blue-300 rounded-full -left-3 ring-8 ring-white dark:ring-[#17191e] dark:bg-blue-600"
        >
          <svg
            aria-hidden="true"
            class="w-3 h-3 text-blue-800 dark:text-blue-300"
            fill="#fff"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd"></path></svg
          >
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
          Graphic designer EVO
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >2010 - 2019</time
        >
        <p class="text-base font-normal text-white bg-gray-800 p-6 rounded-lg">
          Served as the principal lead designer for a startup travel agency,
          responsible for designing the majority of their promotional materials
          including flyers and advertising campaigns. Successfully cultivated an
          online following of approximately 30,000 individuals across various
          social media platforms.
        </p>
      </li>
    </ol>
  </div>
</div>
