---
import LinkedLogo from "../components/IconLinked.astro";
import IconGit from "../components/IconGit.astro";
import LogoBz from "../components/LogoBz.astro";
---

<header
  id="landing-header"
  class="noise-container h-header py-2 bg-bg-color px-24 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
  <div class="noise"></div>
  <div class="flex p-2 flex-grow basis-0">
    <a class="hover:scale-110 transition-all ease-in-out" href="#intro">
      <LogoBz />
    </a>
  </div>
  <nav>
    <ul
      class="flex text-sm [&>li>a]:text-white [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a href="#projects">Projects</a></li>
      <li><a href="#aboutme">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <nav class="flex flex-grow justify-end basis-0 w">
    <ul
      class="flex text-sm [&>li>a]:text-white [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/brianzenhom/"
          ><LinkedLogo /></a
        >
      </li>
      <li>
        <a target="_blank" href="https://github.com/BrianZenhom"><IconGit /></a>
      </li>
    </ul>
  </nav>

  <div
    class={`absolute bg-gradient-to-r from-mainColor to-blue-300 backdrop-blur-lg rounded
  left-[var(--left)] top-[var(--top)]
  w-[var(--width)] h-[var(--height)]
  transition-all duration-300
  ease-in-out opacity-0 -z-10
  `}
    id="menu-backdrop"
  >
  </div>
</header>
<script>
  const listItem = document.querySelectorAll("#landing-header li");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);

      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
</script>

<style>
  html {
    scroll-behavior: smooth;
  }
  *,
  :before,
  :after {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    scroll-behavior: smooth;
  }
  .noise-container {
    position: relative;
    isolation: isolate;
    background-color: #17191e;
  }
  main::before {
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 100%;
    background-repeat: repeat;
    content: "";
    background-size: 20px 20px;
    background-image: linear-gradient(
        to right,
        rgb(35 38 45) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgb(35 38 45) 1px, transparent 1px);
    -webkit-mask-image: linear-gradient(to bottom, white, transparent);
    mask-image: linear-gradient(to bottom, white, transparent);
    z-index: -1;
  }
  .hero::before {
    position: absolute;
    content: "";
    height: 50vw;
    width: 100vw;
    top: 50%;
    translate: 0 -30%;
    left: -60vw;
    background: url(/noise.webp) repeat,
      linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.4), transparent 65%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.4), transparent 65%);
    z-index: -1;
  }
  .hero::after {
    position: absolute;
    content: "";
    height: 50vw;
    width: 100vw;
    top: 50%;
    translate: 0 -30%;
    right: -60vw;
    background: url(/noise.webp) repeat,
      linear-gradient(247.23deg, #4af2c8 0%, #2f4cb3 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
    z-index: -1;
  }
  .noise {
    z-index: -20;
    position: absolute;
    inset: 0;
    background-image: url(/noise.webp);
    opacity: 0.4;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
</style>
